body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: Inter, sans-serif;
    padding: 20px;
}


:root {
    --backgroundglass: rgba(223, 157, 80, 0.25);
    --borderglass: 2px solid rgba(238, 238, 238, 0.6);
}

h1 {
    text-align: center;
    color: #ffdbc2;
}

.captcha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

#captcha {
    display: flex;
    flex-direction: row;
    background-color: var(--backgroundglass);
    border-radius: 28px;
    padding: 4px 20px;
    gap: 100px;
    justify-content: space-around;
    width: fit-content;
    height: fit-content;
    border: var(--borderglass);
}

#captcha-content{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 20px;
    min-height: 200px;
    border-radius: 10px 10px 20px 20px;
    background: var(--backgroundglass);
    border: var(--borderglass);
}


.notARobot {
    color: #212121;
}

.catIcon {
    font-size: 3rem;
    margin: 0;
}